/* SETUP BASE */
@import '~antd/dist/antd.css';
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 300;
    color: #000000;
}
.row {
    display: flex;
}

.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
.col-10 {
    width: 100%;
}

/* HEADER */
.header__container {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: 0.21px;
    padding: 0 3.2rem;
    justify-content: space-between;
    border-bottom: 0.5px solid #E5E5E5;
}
.header__border {
    padding: 8px 0 0 0;
    border-width: 10px 0 0;
    border-top-style: solid;
    border-image: linear-gradient(
139deg
, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
.header__icon {
    padding: 1rem;
  
}
.header__icon i {
    margin-right: 1.6rem;
}
.nav-bar__list {
    justify-content: space-around;
    list-style-type: none;
}
.nav-link {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 1rem;
    transition: All .5s;
}
.nav-link:hover {
    color: #808080;
}


/* SEARCH BAR */

.search-bar__box {
    padding: 2rem 3.2rem;
    justify-content: space-around;
}
.logo__box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__box  img {
    width: 100%;
    height: auto;
    
}
.search-form {
    padding:0 2rem;
}
.input-form {
    background-color: #F2F2F2;
    padding: 1rem;

}
.input-form span i {
    margin:1rem 2rem;
}

.input-form-text {
    border: none;
    background-color: #F2F2F2;
}
.input-form-text:focus {
    outline: none;
}
.search-button {
    background-color: #231f20;
    color: #ffffff;
    font-weight: 700;
    padding: 0.8rem ;
    cursor: pointer;
}
.button__box {  
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 1.3rem 2.8rem;
    margin: 0 1rem;
    background-color: #ffffff;
    border: none;
    transition: all .5s;
    cursor: pointer;
}
.button__box:hover {
    color: #cccccc;
}
.button__box-border {
    border: 1px solid #cccccc;
}